body{
    font-family:"Lucida Grande", sans-serif; margin:0;
}
.header{
    background-color:#2f3e4f;
    color:white;
    padding:20px;
    text-align:center;
}
.main{
    padding:40px;
    background-color:#f5f5f5;
}
.footer{
    background-color:2f3e4f;
    color:red;
    padding:10px;
    text-align:center;
}
    